<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Estudio 1</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id itaque ad
        aspernatur neque. Animi impedit praesentium quisquam voluptatem,
        consectetur pariatur iusto commodi alias, aliquam aliquid quibusdam
        assumenda inventore eveniet eaque!
      </p>
    </ul>
    <ul>
      <li>
        <h1>Estudio 2</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id itaque ad
        aspernatur neque. Animi impedit praesentium quisquam voluptatem,
        consectetur pariatur iusto commodi alias, aliquam aliquid quibusdam
        assumenda inventore eveniet eaque!
      </p>
    </ul>
    <ul>
      <li>
        <h1>Estudio 3</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id itaque ad
        aspernatur neque. Animi impedit praesentium quisquam voluptatem,
        consectetur pariatur iusto commodi alias, aliquam aliquid quibusdam
        assumenda inventore eveniet eaque!
      </p>
    </ul>
  </div>
</div>
