<div class="row">
  <div>
    <img src="../../../assets/perfil.png" class="img-fluid" />
  </div>
  <div>
    <p>Jurado, Dario Ivan</p>
    <p>Contador Público</p>
    <p>Full Stack Developer Jr</p>
    <p>QA Tester</p>
  </div>
  <div>
    <span>
      <h1>Acerca de mí</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
        blanditiis laboriosam cupiditate, asperiores consequatur exercitationem
        fugiat, animi illum perspiciatis id aspernatur eveniet assumenda error
        dignissimos enim optio sed numquam officiis!
      </p>
    </span>
  </div>
</div>
